<html>
<head>
    <title>NGP Form Scraper</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-app="ngpApp" ng-controller="formController as form">
    <div class="container">
        <div class="page-header">
            <h1>NGP Form Scraper</h1>
        </div>
        <div class="jumbotron">
            <!-- https://act.myngp.com/Forms/7944614294361016320 -->
            <div class="row">
                <form novalidate name="form.mainForm" ng-submit="form.mainForm.$valid form.mainForm.$dirty && form.submitForm(url)" class="col-sm-8" ng-class="{'has-error': form.mainForm.$invalid && form.mainForm.$dirty}">
                    <div class="form-group">
                        <label class="control-label">Type in the URL to your NGP form below 
                        </label>
                        <input type="text" name="url" ng-model="url" ng-pattern="/^https:\/\/act\.myngp\.com\/Forms\/-?[0-9]{10,}$/" class="form-control">
                        <div class="help-block bg-danger" ng-show="form.mainForm.$invalid && form.mainForm.$dirty">
                            URL must match pattern https://act.myngp.com/Forms/[formID]
                        </div>
                    </div>
                    <input type="submit" value="Scrape Form" class="btn btn-primary">
                </form>
            </div>
            <div class="row">

                <div ng-show="form.formFields.fields" class="col-sm-8">
                    <h2>Results for form {{form.formId}}</h2>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-click="form.activeTab = 'html'">HTML</button>
                         <button type="button" class="btn btn-default" ng-click="form.activeTab = 'form'">Form</button>
                        <button type="button" class="btn btn-default" ng-click="form.activeTab = 'table'">Table</button>
                    </div>
                    <div ng-show="form.activeTab === 'html'">
                        <textarea class="form-control" rows="5">
                           &lt;form method="POST" action="https://act.myngp.com/Forms/NoScript/{{form.formId}}"&gt;
                                <span ng-repeat="field in form.formFields.fields">
                                    <span ng-show="field.type !== 'hidden'">
                                        &lt;div class="form-group"&gt;
                                            &lt;label&gt;{{field.name}}&lt;/label&gt;
                                            &lt;input type="{{field.type}}" name="{{field.name}}" value="{{field.value}}"&gt;
                                        &lt;/div&gt;
                                    </span>
                                    <span ng-show="field.type === 'hidden'">
                                        &lt;input type="{{field.type}}" name="{{field.name}}" value="{{field.value}}"&gt;
                                    </span>
                                </span>
                                &lt;input type="submit"&gt;
                            &lt;/form&gt; 
                        </textarea>
                    </div>
                    <div ng-show="form.activeTab === 'form'">
                        <form novalidate method="POST" ng-action="https://act.myngp.com/Forms/NoScript/{{form.formId}}">
                            <div class="form-group" ng-repeat="field in form.formFields.fields">
                                <label ng-show="field.type !== 'hidden'" class="control-label">{{field.name}}</label>
                                <input type="{{field.type}}" name="{{field.name}}" value="{{field.value}}" class="form-control">
                            </div>
                            <input type="submit" class="btn btn-primary">
                        </form>
                    </div>
                    <div ng-show="form.activeTab === 'table'">
                        <h3>Form Fields</h3>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="field in form.formFields.fields">
                                    <td>{{field.name}}</td>
                                    <td>{{field.value}}</td>
                                    <td>{{field.type}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            footer goes here.
        </div>
    </footer>

    <script src="bower_components/angular/angular.js"></script>
    <script src="site.js"></script>
</body>
</html>