<html>
<head>
    <title>NGP Form Scraper</title>
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
</head>
<body ng-app="ngpApp" ng-controller="formController as form" ng-cloak>
    <div class="container m-b-lg">
        <div class="page-header">
            <h1>NGP Form Scraper</h1>
            <p><strong>Get all the form input names and values needed to create custom forms.</strong></p>
            <p>NGP recently changed their API and made it much harder to scrape their forms to create your own custom forms with the HTML structure of your choosing. Key hidden inputs are no longer easy to find in the form hosted by NGP or rendered by the NGP Action Tag. This app will get around that for all forms except Donation forms.</p>
            <p><a href="https://github.com/sdotson/ngp-form-scraper" target="_blank">Check out the Github repository &rsaquo;</a></p>
        </div>
        <div>
            <div class="row" ng-hide="form.submitted">
                <form novalidate name="form.mainForm" ng-submit="form.mainForm.$valid && form.mainForm.$dirty && form.submitForm(form.formId)" class="col-sm-8" ng-class="{'has-error': form.mainForm.$invalid && form.mainForm.$dirty}">
                    <div class="form-group">
                        <p><strong>Type in the form id (found in the form URL) below.</strong></p>
                        <div class="input-group">
                          <span class="input-group-addon" id="basic-addon3">https://act.myngp.com/Forms/</span>
                          <input type="text" class="form-control" ng-model="form.formId" id="basic-url" ng-pattern="/^-?[0-9]{12,}$/" aria-describedby="basic-addon3">
                        </div>
                        <div class="help-block bg-danger" ng-show="form.mainForm.$invalid && form.mainForm.$dirty">
                            Form id must be an integer.
                        </div>
                    </div>
                    <input type="submit" value="Scrape Form" class="btn btn-primary">
                </form>
            </div>
            <div class="row" ng-show="form.submitted">
                <div class="col-sm-8">
                    <div class="alert alert-success" role="alert" ng-show="form.formFields">Form successfully scraped.</div>
                    <div class="alert alert-danger" role="alert" ng-show="form.formNotFound">No NGP form with that ID was found. Try again.</div>
                    <div ng-show="form.formFields">
                        <h2>Results for form {{form.formId}}</h2>
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" ng-click="form.activeTab = 'html'" ng-class="{'active': form.activeTab === 'html'}">HTML</button>
                                <button type="button" class="btn btn-default" ng-click="form.activeTab = 'table'" ng-class="{'active': form.activeTab === 'table'}">Table</button>
                            </div>
                        </div>
                        <div ng-show="form.activeTab === 'html'">
                            <div class="results-html">
                               &lt;form method="POST" action="https://act.myngp.com/Forms/NoScript/{{form.formId}}"&gt;
                                    <span ng-repeat="field in form.formFields">
                                        <span ng-show="field.type !== 'hidden' && field.tag === 'input'">
                                            &lt;div class="form-group"&gt;
                                                &lt;label&gt;{{field.name}}&lt;/label&gt;
                                                &lt;input type="{{field.type}}" name="{{field.name}}" value="{{field.value}}"&gt;
                                            &lt;/div&gt;
                                        </span>
                                        <span ng-show="field.type === 'hidden'">
                                            &lt;input type="{{field.type}}" name="{{field.name}}" value="{{field.value}}"&gt;
                                        </span>
                                        <span ng-show="field.tag === 'select'">
                                            &lt;select name="{{field.name}}"&gt;
                                                <span ng-repeat="option in field.options">
                                                    &lt;option value="{{option}}"&gt; {{option}} &lt;/option&gt;
                                                </span>
                                            &lt;/select&gt;
                                        </span>
                                    </span>
                                    &lt;input type="submit"&gt;
                                &lt;/form&gt; 
                            </div>
                        </div>
                        <div ng-show="form.activeTab === 'table'">
                            <h3>Form Fields</h3>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Value</th>
                                        <th>Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="field in form.formFields">
                                        <td>{{field.name}}</td>
                                        <td ng-if="field.tag !== 'select'">{{field.value}}</td>
                                        <td ng-if="field.tag === 'select'">
                                            <span ng-repeat="option in field.options">{{option}}<span ng-show="!$last">, </span>
                                            </span>
                                        </td>
                                        <td>{{field.type}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button class="btn btn-danger" ng-click="form.reset()">Reset</button>
                </div>
            </div>
        </div>
    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="site.js"></script>
</body>
</html>